## Technical Workshop

- Team up and apply the concepts that you have learned in pandas to access, manipulate and analyze data
- Tinker around with the dataset to answer a series of questions
- Save your group notebook and submit with the following format: `workshop_group_<#>.ipynb`
- Duration: 1 hour

### Describe Your Team!

What other way than coming up with a simple dataframe that has the following columns:
    - Name
    - Year in College
    - School

Input each teammate as rows and then name your dataframe according to your team name.

In [22]:
import pandas as pd

team_2 = pd.DataFrame({
    "Name": ["Erika Orquia", "Jhibsam Palmes"],
    "Year in College": [3, 4], 
    "School": ["CLSU", "USTP-CDO"] 
})
team_2

                   Name  Year in College    School
0  Chris Jallaine Mugot                3  USTP-CDO
1          Erika Orquia                3      CLSU
2        Jhibsam Palmes                4  USTP-CDO

### Olympics Agency

You and your teammates are working in the Data Science department of a renowned Sports Agency that primarily focuses on the Olympics. Consultants and journalists reach out to your team for key insights to fulfill their upcoming prints and marketing stints.

Thankfully you have access to the relevant dataset, and of course your newly acquired Python Pandas skills.

<img src="images/olympics_logo.png" alt="BMI Formula" width="500" />

#### Available Datasets

| **Dataset**      | **Notes**      |
| ------------- | ------------- |
| [olympics_bios.csv](data/olympics_bios.csv) | Contains basic biographical data of Olympians since 1960s |
| [noc_regions.csv](data/noc_regions.csv) | Contains records of National Olympic Committees |
| [olympics_results.csv](data/olympics_results.csv) | Contains all records of Olympic events and the corresponding results |

In [2]:
olympics_bios = pd.read_csv('./data/olympics_bios.csv')
noc = pd.read_csv('./data/noc_regions.csv')
olympics_results = pd.read_csv('./data/olympics_results.csv')

##### Preview Olympics Biography dataset:

In [3]:
olympics_bios.sample(5)

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
40411,40720,Bob Jaugstetter,1948-06-15,Savannah,Georgia,USA,United States,159.0,49.0,NaN
79238,79845,René Dobrinovitz,NaN,NaN,NaN,NaN,Belgium,NaN,NaN,NaN
72086,72632,Akira Takeuchi,1947-03-02,NaN,NaN,NaN,Japan,175.0,58.0,NaN
144454,148146,Milan Žemlička,1996-10-20,Chrudim,Pardubický kraj,CZE,Czechia,NaN,NaN,NaN
58995,59418,Paul Farrugia,1967-02-05,NaN,NaN,NaN,Malta,170.0,64.0,NaN

##### Preview NOC Region dataset:

In [4]:
noc.sample(5)

     NOC              region notes
82   GRN             Grenada   NaN
58   DOM  Dominican Republic   NaN
119  LIB             Lebanon   NaN
94   IRI                Iran   NaN
9    ARM             Armenia   NaN

##### Preview Olympics Results dataset:

In [5]:
olympics_results.sample(5)

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
207252,1972.0,Winter,Alpine Skiing (Skiing),"Giant Slalom, Men (Olympic)",Derek Robbins,96890,CAN,NaN,NaN,False,NaN
115487,1988.0,Summer,Volleyball (Volleyball),"Volleyball, Men (Olympic)",Lyubomir Ganev,51795,BUL,Bulgaria,6.0,False,NaN
217925,2006.0,Winter,Cross Country Skiing (Skiing),"Sprint, Women (Olympic)",Hilde Gjermundshaug Pedersen,100988,NOR,NaN,28.0,False,NaN
2402,1996.0,Summer,Badminton,"Singles, Men (Olympic)",Adul Sidek Mohamed,959,MAS,NaN,3.0,False,Bronze
152631,1992.0,Summer,Athletics,"Marathon, Men (Olympic)",Hwang Yeong-Jo,72922,KOR,NaN,1.0,False,Gold

#### I. Filipino Sporting Triumphs

The Filipino Olympic Committee has commissioned our agency to highlight their athletic achievements since the turn of the millennium. Your task is to compile a list of unique sports disciplines where Pinoy athletes have left their mark since the year 2000. Moreover, which amongst these sports disciplines did they produce promising results in (i.e bagged any type of medals)?

In [6]:
# Start wrangling here

pinoy_athletes = olympics_results[(olympics_results["noc"] == "PHI") & (olympics_results["year"] >= 2000)]
pinoy_athletes.head()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
8481,2000.0,Summer,Boxing,"Light-Welterweight, Men (Olympic)",Romeo Brin,4950,PHI,NaN,17.0,True,NaN
8482,2004.0,Summer,Boxing,"Light-Welterweight, Men (Olympic)",Romeo Brin,4950,PHI,NaN,9.0,True,NaN
176371,2000.0,Summer,Archery,"Individual, Women (Olympic)",Jennifer Chan,83181,PHI,NaN,59.0,False,NaN
188875,2000.0,Summer,Athletics,"3,000 metres Steeplechase, Men (Olympic)",Eduardo Buenavista,88354,PHI,NaN,14.0,False,NaN
188876,2004.0,Summer,Athletics,"Marathon, Men (Olympic)",Eduardo Buenavista,88354,PHI,NaN,67.0,False,NaN

In [7]:
unique_disciplines = pinoy_athletes["discipline"].unique()

print("Filipino athletes have competed in the following sports since 2000:")
print(unique_disciplines)

Filipino athletes have competed in the following sports since 2000:
['Boxing' 'Archery' 'Athletics' 'Diving (Aquatics)'
 'Equestrian Jumping (Equestrian)' 'Rowing' 'Shooting'
 'Swimming (Aquatics)' 'Taekwondo' 'Weightlifting' 'Judo'
 'Cycling BMX Racing (Cycling)' 'Figure Skating (Skating)' 'Table Tennis'
 'Golf' 'Alpine Skiing (Skiing)' 'Short Track Speed Skating (Skating)'
 'Skateboarding (Roller Sports)' 'Artistic Gymnastics (Gymnastics)']

In [9]:
filipino_medalists = pinoy_athletes[pinoy_athletes["medal"].notna()]
filipino_medalists = filipino_medalists.merge(olympics_bios, on="athlete_id", how="left")
filipino_medalists = filipino_medalists[["year", "discipline", "event", "name", "medal", "born_country", "height_cm", "weight_kg"]]

filipino_medalists.sort_values(by="year", ascending=True)

,year,discipline,event,name,medal,born_country,height_cm,weight_kg
0,2016.0,Weightlifting,"Featherweight, Women (Olympic)",Hidilyn Diaz,Silver,PHI,149.0,53.0
1,2020.0,Weightlifting,"Featherweight, Women (Olympic)",Hidilyn Diaz,Gold,PHI,149.0,53.0
2,2020.0,Boxing,"Featherweight, Women (Olympic)",Nesthy Petecio,Silver,PHI,NaN,NaN
3,2020.0,Boxing,"Flyweight, Men (Olympic)",Carlo Paalam,Silver,PHI,NaN,NaN
4,2020.0,Boxing,"Middleweight, Men (Olympic)",Eumir Marcial,Bronze,PHI,NaN,NaN

In [10]:
medals_per_sport = filipino_medalists.groupby("discipline")["medal"].count().sort_values(ascending=False)

print("Medals won per sport since 2000:")
print(medals_per_sport)

Medals won per sport since 2000:
discipline
Boxing           3
Weightlifting    2
Name: medal, dtype: int64

#### II. The Big Five

Sports journalists are crafting a new magazine that features __*"The Big Five"*__. They reached out to your team seeking information on the global power rankings throughout the entire Olympic history. What are the top 5 countries that bagged the most Gold medals?

In [11]:
# Start wrangling here

gold_medalists = olympics_results[olympics_results["medal"] == "Gold"]
gold_medalists.head()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
40,NaN,NaN,Tennis,"Singles, Men (Intercalated)",Max Decugis,12,FRA,NaN,1.0,False,Gold
41,NaN,NaN,Tennis,"Doubles, Mixed (Intercalated)",Max Decugis,12,FRA,Marie Decugis,1.0,False,Gold
42,NaN,NaN,Tennis,"Doubles, Men (Intercalated)",Max Decugis,12,FRA,Maurice Germot,1.0,False,Gold
48,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Max Decugis,12,FRA,Suzanne Lenglen,1.0,False,Gold
80,NaN,NaN,Tennis,"Doubles, Men (Intercalated)",Maurice Germot,19,FRA,Max Decugis,1.0,False,Gold

In [12]:
gold_per_country = gold_medalists["noc"].value_counts().head(5)

print("Top 5 countries with the most Gold medals in Olympic history:")
gold_per_country

Top 5 countries with the most Gold medals in Olympic history:

noc
USA    2717
URS    1076
GER     817
GBR     715
ITA     605
Name: count, dtype: int64

In [13]:
gold_per_country = gold_per_country.reset_index()
gold_per_country.columns = ["NOC", "Gold Medals"]

In [14]:
gold_per_country = gold_per_country.merge(noc, on="NOC", how="left")
gold_per_country = gold_per_country[["region", "Gold Medals"]].rename(columns={"region": "Country"})

gold_per_country

   Country  Gold Medals
0      USA         2717
1   Russia         1076
2  Germany          817
3       UK          715
4    Italy          605

#### III. BMI Influence in Medal Success

General coaching staff from various professional athelete management firms seek to understand correlation of body composition and performance outcome in a given field of sports. Your team was asked to provide data on the average BMI class of gold medalists per sports discipline.

##### BMI formula

<img src="images/bmi_formula.png" alt="BMI Formula" width="500" />

##### Standard BMI classification

<img src="images/bmi_class.png" alt="BMI Classification" width="500" />

In [15]:
# Start wrangling here

# Filter only Gold Medalists
gold_medalists = olympics_results[olympics_results["medal"] == "Gold"]

# Merge with athlete data to get height & weight
gold_medalists = gold_medalists.merge(olympics_bios, on="athlete_id", how="left")

# Drop missing values
gold_medalists = gold_medalists.dropna(subset=["height_cm", "weight_kg"])

# Compute BMI
gold_medalists["BMI"] = gold_medalists["weight_kg"] / (gold_medalists["height_cm"] / 100) ** 2

In [16]:
def classify_bmi(bmi):
    if bmi < 18.5:
        return "Underweight"
    elif bmi < 25:
        return "Normal"
    elif bmi < 30:
        return "Overweight"
    elif bmi < 35:
        return "Obese Class 1"
    elif bmi < 40:
        return "Obese Class 2"
    else:
        return "Obese Class 3"

In [17]:
gold_medalists["BMI Class"] = gold_medalists["BMI"].apply(classify_bmi)

In [18]:
bmi_class_per_sport = (
    gold_medalists.groupby("discipline")["BMI Class"]
    .agg(lambda x: x.mode().iloc[0])  # Get most frequent BMI class per discipline
    .reset_index()
)

In [19]:
bmi_class_per_sport = bmi_class_per_sport.rename(columns={"discipline": "Sports Discipline", "BMI Class": "Most Common BMI Class"})

In [20]:
pd.set_option("display.max_rows", None)
bmi_class_per_sport

                      Sports Discipline Most Common BMI Class
0        3-on-3 Ice Hockey (Ice Hockey)                Normal
1           3x3 Basketball (Basketball)                Normal
2                Alpine Skiing (Skiing)                Normal
3                               Archery                Normal
4      Artistic Gymnastics (Gymnastics)                Normal
5          Artistic Swimming (Aquatics)                Normal
6                             Athletics                Normal
7                             Badminton                Normal
8          Baseball (Baseball/Softball)            Overweight
9               Basketball (Basketball)                Normal
10        Beach Volleyball (Volleyball)                Normal
11                             Biathlon                Normal
12                Bobsleigh (Bobsleigh)            Overweight
13                               Boxing                Normal
14            Canoe Marathon (Canoeing)                Normal
15              Canoe Slalom (Canoeing)                Normal
16              Canoe Sprint (Canoeing)                Normal
17        Cross Country Skiing (Skiing)                Normal
18                              Curling                Normal
19         Cycling BMX Racing (Cycling)            Overweight
20      Cycling Mountain Bike (Cycling)                Normal
21               Cycling Road (Cycling)                Normal
22              Cycling Track (Cycling)                Normal
23                    Diving (Aquatics)                Normal
24     Equestrian Dressage (Equestrian)                Normal
25     Equestrian Eventing (Equestrian)                Normal
26      Equestrian Jumping (Equestrian)                Normal
27                              Fencing                Normal
28             Figure Skating (Skating)                Normal
29                  Football (Football)                Normal
30            Freestyle Skiing (Skiing)                Normal
31                                 Golf                Normal
32                             Handball                Normal
33                               Hockey                Normal
34                            Hockey 5s                Normal
35              Ice Hockey (Ice Hockey)            Overweight
36                                 Judo                Normal
37                               Karate                Normal
38                             Lacrosse                Normal
39                                 Luge                Normal
40         Marathon Swimming (Aquatics)                Normal
41                         Mixed Sports                Normal
42                    Modern Pentathlon                Normal
43             Nordic Combined (Skiing)                Normal
44     Rhythmic Gymnastics (Gymnastics)           Underweight
45                               Rowing                Normal
46                        Rugby (Rugby)            Overweight
47                 Rugby Sevens (Rugby)            Overweight
48                              Sailing                Normal
49                             Shooting                Normal
50  Short Track Speed Skating (Skating)                Normal
51                 Skeleton (Bobsleigh)                Normal
52                 Ski Jumping (Skiing)                Normal
53                   Ski Mountaineering                Normal
54                Snowboarding (Skiing)                Normal
55         Softball (Baseball/Softball)                Normal
56              Speed Skating (Skating)                Normal
57                       Sport Climbing                Normal
58                              Surfing                Normal
59                  Swimming (Aquatics)                Normal
60                         Table Tennis                Normal
61                            Taekwondo                Normal
62                               Tennis                Normal
63            Trampolining (Gymnastics)                Normal
64                            Triathlon                Normal
65                           Tug-Of-War         Obese Class 2
66              Volleyball (Volleyball)                Normal
67                Water Polo (Aquatics)                Normal
68                        Weightlifting            Overweight
69                            Wrestling                Normal